<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>
		QC-EPWMD | Employee Accomplishment Report System
	</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

	<link rel="logo" sizes="76x76" href="{{ url_for('static', filename='img/logo.png') }}"" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}"" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- CSS Files -->
	<link href="{{ url_for('static', filename='css/bootstrap4.min.css') }}" rel="stylesheet" />
	<link href="/static/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/material-bootstrap-wizard.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" />

</head>

<body class="">
  <div class="wrapper">
<!-- Start of Sidebar -->
		<div class="sidebar" data-color="blue">
			<div class="logo">
				<a href="#" class="simple-text logo-mini">
					<img src="{{ url_for('static', filename='img/logo.png') }}">
				</a>
				<a href="#" class="simple-text logo-normal">
					<h6 class="system-name">EPWMD Employee <br>Accomplishment<br>Report System</h6>
				</a>
			</div>
			<div class="sidebar-wrapper" id="sidebar-wrapper">
				<ul class="nav">
					<li>
						<a href="{{ url_for('index.home') }}">
							<i class="now-ui-icons shopping_shop"></i>
							<p>Home</p>
						</a>
		       </li>
		       <li class="active">
		         <a href="{{ url_for('index.create') }}">
		           <i class="now-ui-icons files_single-copy-04"></i>
		           <p>Create New Report</p>
		         </a>
		       </li>
		       <li>
		         <a href="{{ url_for('index.pending') }}">
		           <i class="now-ui-icons ui-1_bell-53"></i>
		           <p>View Pending Reports</p>
		         </a>
		       </li>
					 <li>
		         <a href="{{ url_for('index.reports') }}">
		           <i class="now-ui-icons files_box"></i>
		           <p>View Reports</p>
		         </a>
					 </li>
					 <li>
						 <a href="{{ url_for('accounts.accounts') }}">
							 <i class="now-ui-icons users_circle-08"></i>
							 <p>Manage Accounts</p>
						 </a>
					 </li>
					 <li>
						 <a href="{{ url_for('positions.positions') }}">
							 <i class="now-ui-icons objects_globe"></i>
							 <p>Manage Positions</p>
						 </a>
					 </li>
					 <li>
						 <a href="{{ url_for('index.archive') }}">
							 <i class="now-ui-icons files_box"></i>
							 <p>View Archive</p>
						 </a>
					 </li>
				 </ul>
			 </div>
		 </div>
<!-- End of Sidebar -->

		 <div class="main-panel" id="main-panel">
<!-- Start of Navbar -->
			 <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
				 <div class="container-fluid">
					 <div class="navbar-wrapper">
						 <div class="navbar-toggle">
							 <button type="button" class="navbar-toggler">
									<span class="navbar-toggler-bar bar1"></span>
									<span class="navbar-toggler-bar bar2"></span>
									<span class="navbar-toggler-bar bar3"></span>
								</button>
							</div>
							<a class="navbar-brand" href="#home"> Create</a>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-bar navbar-kebab"></span>
							<span class="navbar-toggler-bar navbar-kebab"></span>
							<span class="navbar-toggler-bar navbar-kebab"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navigation">
							<!-- <form>
								<div class="input-group no-border">
									<input type="text" value="" class="form-control" placeholder="Search...">
									<div class="input-group-append">
										<div class="input-group-text">
											<i class="now-ui-icons ui-1_zoom-bold"></i>
										</div>
									</div>
								</div>
							</form> -->
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="now-ui-icons ui-1_settings-gear-63"></i>
										<p>
											<span class="d-lg-none d-md-block">Settings</span>
										</p>
									</a>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="{{ url_for('profile.profile') }}">My Profile</a>
										<a class="dropdown-item" href="{{ url_for('login.logout') }}">Logout</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
<!-- End Navbar -->

<!-- Start of Header -->
				<div class="panel-header panel-header-lg">
					<h5 id="header-title"><b>Create New Report</b></h5>
					<p id="header-desc">This page allows you to create your monthly accomplishment report.</p>
				</div>
<!-- End of Header -->

<!--   Big container   -->
				<div class="content">
					<div class="content-2">
						<div class="row">
							<div class="col-md-12">
								<div class="wizard-container">
									<div class="card wizard-card" data-color="yellow" id="wizardProfile">
										<form action="" method="">
										<div class="wizard-header">
										</div>
										<div class="wizard-navigation">
											<ul>
												<li><a href="#attendance" data-toggle="tab">Attendance</a></li>
												<li><a href="#tasks" data-toggle="tab">Tasks</a></li>
												<li><a href="#review" data-toggle="tab">Review</a></li>
											</ul>
										</div>

										<div class="tab-content">
											<div class="tab-pane" id="attendance">
												<div class="container">
													<div class="row">
														<div class="col">
															<div class="form-group label-floating">
																<label class="control-label">Select an Attendance Period</label>
																<select id="attendance-period" name="attendance" class="form-control" required>
																	<option disabled="" selected=""></option>
																	<option value="January 26-February 25"> January 26 - February 25 </option>
																	<option value="February 26-March 25"> February 26 - March 25 </option>
																	<option value="March 26-April 25"> March 26 - April 25 </option>
																	<option value="April 26-May 25"> April 26 - May 25 </option>
																	<option value="May 26-June 25"> May 26 - June 25 </option>
																	<option value="June 26-July 25"> June 26 - July 25 </option>
																	<option value="July 26-August 25"> July 26 - August 25 </option>
																	<option value="August 26-September 25"> August 26 - September 25 </option>
																	<option value="September 26-October 25"> September 26 - October 25 </option>
																	<option value="October 26-November 25"> October 26 - November 25 </option>
																	<option value="November 26-December 25"> November 26 - December 25 </option>
																	<option value="December 26-January 25"> December 26 - January 25 </option>
																</select>
															</div>
														</div>
													</div>
													<div class="per">
														<div class="row">
															<div class="col-sm-6">
																<h6 class="wizard-title">Attendance Period:</h6>
																<p id="attendance-period-label">-</p>
															</div>
															<div class="col-sm-6">
																<h6 class="wizard-title">Payroll Period:</h6>
																<p id="payroll-period-label">-</p>
															</div>
														</div>
													</div>
												</div> <!-- container -->
												<hr>
												<div class="container">
													<div class="row">
														<div class="col-sm-10">
															<p class="card-category">Select a date:</p>
															<div id="datepicker"></div>
														</div>
														<div class="col-sm-2">
															<div class="ui-legend">
																<p class="card-category">Legend:</p>
																<ul style="list-style: none;">
																	<li>
																		<div class="row">
																			<p class="legend legend-holiday">Holiday</p>
																		</div>
																	</li>
																	<li>
																		<div class="row">
																			<p class="legend legend-absent">Absent</p>
																		</div>
																	</li>
																	<li>
																		<div class="row">
																			<p class="legend legend-halfday">Half-day</p>
																		</div>
																	</li>
																	<li>
																		<div class="row">
																			<p class="legend legend-suspended">Suspended</p>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="tasks">
												<div class="tab-header">
												</div>
												<div class="accordion md-accordion" id="task-cards" role="tablist" aria-multiselectable="true">
												</div>
											</div>
											<div class="tab-pane" id="review">
												<div class="row">
													<div class="col-sm-12">
														<br>
														<h5 class="title">Accomplishment Report</h5>
														<p class="acc-description" id="attendance-period-label2"></p>
														<p class="acc-description" id="payroll-period-label2"></p>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col-sm-12" id="review-summary">
													</div>
												</div>
											</div>
										</div>
										<div class="wizard-footer">
											<div class="pull-right">
												<input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
												<input type='button' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Submit' onclick="reportSubmit()"  />
											</div>

											<div class="pull-left">
												<input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
											</div>
											<div class="clearfix"></div>
										</div>
									</form>
								</div>
							</div> <!-- wizard container -->
						</div>
					</div><!-- end row -->
				</div> <!--  big container -->
			</div>
		<!-- add task form -->

		<div class="modal fade" id="selectReason">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="title">Select Reason Here</h5>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="container">
						<div class="modal-body">
							<form action="" class="form-container">
								<br>
								<p class="card-category">Select reason:</p>
								<div class="form-check">
									<label class="form-check-label">
									<input class="form-check-input" type="radio" name="attendance" id="attendanceAbsent" value="absent"> Absent
									<span class="circle">
										<span class="check"></span>
									</span>
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									<input class="form-check-input" type="radio" name="attendance" id="attendanceHalfday" value="halfday"> Half-day
									<span class="circle">
										<span class="check"></span>
									</span>
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									<input class="form-check-input" type="radio" name="attendance" id="atttendanceHoliday" value="holiday"> Holiday
									<span class="circle">
										<span class="check"></span>
									</span>
									</label>
								</div>
								<div class="form-check">
								<label class="form-check-label">
								<input class="form-check-input" type="radio" name="attendance" id="attendanceSuspension" value="suspended"> Suspended
								<span class="circle">
									<span class="check"></span>
								</span>
								</label>
								</div>
												<div class="form-check">
									<label class="form-check-label">
									<input class="form-check-input" type="radio" name="attendance" id="attendanceNone" value="none" checked> None
									<span class="circle">
										<span class="check"></span>
									</span>
									</label>
								</div>
								<br>
								<button id="save-attendance-btn" type="button" class="btn btn-md btn-wide btn-success" onclick="updateDates()" data-dismiss="modal">Save</button>

							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- end of add task form -->

		<!-- add task form -->

			<div class="modal fade" id="addTaskForm">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="title">Add Task Here</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="container">
							<div class="modal-body">
								<form id="taskForm" action="" class="form-container">

									<label for="task"><b>Task Name</b></label>
									<br>
									<textarea placeholder="Enter task description" cols="92" rows="5" class="col-md-12" name="task" id="task-name"></textarea>
									<br>

									<div class="pull-center">
										<label for="week"><b>Week</b></label>
										<br>
										<select id="select-week">
										</select>
										<br>
										<br>
										<div class="togglebutton">
											<label>
												<input id="quantity-toggle" type="checkbox">
												<!-- <span class="toggle"></span> -->
												Has quantity
											</label>
										</div>
										<div class="togglebutton">
											<label>
												<input id="recurring-toggle" type="checkbox">
												<!-- <span class="toggle"></span> -->
												Recurring task
											</label>
										</div>
									</div>
									<button type="button" class="btn btn-md btn-wide btn-success" onclick="addTask()" data-dismiss="modal">Add</button>

								</form>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- end of add task form -->

<!-- Start of Footer -->
			<footer class="footer">
				<div class="container-fluid">
					<nav>
						<ul>
							<li>
								<a href="{{ url_for('index.about') }}">
									About Us
								</a>
							</li>
							<li>
								<a href="{{ url_for('index.support') }}">
									Support
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright" id="copyright">
						&copy;
						<script>
							document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
						</script>, Design from
						<a href="https://www.invisionapp.com" target="_blank">Invision</a> & <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. Developed by ReineTech.
					</div>
				</div>
			</footer>
<!-- End of Footer -->
		</div>
	</div>

<!--   Core JS Files   -->
	<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.bootstrap.js') }}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
	<script src="{{ url_for('static', filename='js/material-bootstrap-wizard.js') }}"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/create.js') }}"></script>
	<script>
		// global variables
		var period;

		const dataArray = []
		const weekArray = []
		const tasksArray = []

		// tasks
		var taskHTMLs = [];
		var tasksData = [];

		// attendance arrays
		var absent_dates = [];
		var halfday_dates = [];
		var holiday_dates = [];
		var suspended_dates = [];
	</script>
	<script>
		function generateReport() {
			var dayOffs = [];
			var weeks = getWeeksInMonth(attendancePeriod)['weeksStartEnd'];
		}

		function getDayOffs() {

		}
	</script>
	<script>
		period = $('#attendance-period')
		$('#attendance-period').change(function() {
			attendancePeriod = getAttendancePeriod($(this).val());
			var payrollPeriod = getPayrollPeriod($(this).val());
			$('#attendance-period-label').text(attendancePeriod);
			$('#payroll-period-label').text(payrollPeriod);

			$('#attendance-period-label2').text(`Attendance Period: ${attendancePeriod}`);
			$('#payroll-period-label2').text(`Payroll Period: ${payrollPeriod}`);

			updateTaskTab(attendancePeriod);
			var startDate = getStartDate(attendancePeriod);
			var endDate = getEndDate(attendancePeriod);
			$('#datepicker').datepicker('setDate', startDate);
			$('#datepicker').datepicker('option', 'minDate', startDate);
			$('#datepicker').datepicker('option', 'maxDate', endDate);

			var something;
		});

		function updateTaskTab(attendancePeriod) {
			var weeks = getWeeksInMonth(attendancePeriod)['weeksText'];
			$('#task-cards').empty();
			$('#select-week').empty();
			$('#task-cards').append(`
					<div class="row">
						<span class="col-sm">
							<p class="info-text"> Select all accomplished tasks per week. </p>
						</span>
						<span class="col-sm-3">
							<div class="pull-right">
								<button type="button" class="btn btn-md btn-add btn-primary"  data-toggle="modal" data-target="#addTaskForm">Add Task</button>
							</div>
						</span>
					</div>`);

				$('#review-summary').empty();
				$('#review-summary').append(`<table id="summary"><tr>
					<th width="20%">Date</th>
					<th>Task Accomplished</th>
					</tr></table>`);

			for( w in weeks) {
				$('#task-cards').append(`<div id="card${w}" class="card"></div>`);
				$(`#card${w}`).append(`<div id="card${w}-header" class="card-header" role="tab" id="headingOne1"></div>`);
				$(`#card${w}-header`).append(`<a data-toggle="collapse" data-parent="#task-cards" href="#collapse${w}" aria-expanded="false" aria-controls="collapse${w}"><h6 class="mb-0">${weeks[w]} <i class="fas fa-angle-down rotate-icon" style="float: right;"></i></h6></a>`);
				$(`#card${w}`).append(`<div id="collapse${w}" class="collapse" role="tabpanel" aria-labelledby="heading-${w}" data-parent="#task-cards"></div>`);
				$(`#collapse${w}`).append('<div class="card-body"></div>');
				const weekObject = {
					week	: weeks[w]
				}
				weekArray.push(weekObject)
				$('#select-week').append(`<option value="${w}">${weeks[w]}</option>`);

				$(`#summary`).append(`<tr>
					<td>${weeks[w]}</td>
					<td>
						<ol id="row${w}">
						</ol>
					</td>
				</tr>`);
			}
		}
	</script>
	<script>
		function addTask() {

			var week = $('#select-week').children('option:selected').val();
			var name = $('#task-name').val();



			if( $('#recurring-toggle').prop('checked')) {
				$('#select-week option').each(function() {
					var week_num = $(this).val();

					var html = prepareHTML(name, week_num);
					$(`#collapse${week_num} > .card-body`).append(html);
				});
				// fix id for recurring task
			} else {
				var html = prepareHTML(name, week)
				$(`#collapse${week} > .card-body`).append(html);

			}


			let task = {}
			task.name = name
			task.isRecurring = $('#recurring-toggle').prop('checked')
			task.hasQuantity = $('#quantity-toggle').prop('checked')

			tasksArray.push(task)
			// $.ajax({
			// 	type: 'POST',
			// 	url: "{{ url_for('create.task_post')}}",
			// 	data: JSON.stringify(task),
			// 	dataType: 'json',
			// 	contentType: 'application/json; charset=utf-8'
			// }).done(function(msg) {
			// 	console.log(msg)
			// })



			$('#task-name').val('');
			$('#recurring-toggle').prop('checked', false);
			$('#quantity-toggle').prop('checked', false);


		}

		function prepareHTML(name, week_num) {
			var task_num = getTaskNum(week_num);
			var html = `
			<div class="form-check">
				<label name="week${week_num}-task-label" class="form-check-label">
					<input class="form-check-input" type="checkbox" id="week${week_num}-task${task_num}" name="week${week_num}-task" onclick="selectTask(this, ${week_num}, ${task_num})" value="${name}">
					${name}
					<span class="form-check-sign">
						<span class="check"></span>
					</span>
				</label>
				<div class="edit-delete">
					<i class="material-icons" style="font-size: 20px;">create</i>
					<i class="material-icons text-danger" style="font-size: 20px;">clear</i>
				</div>
			</div>
			`;

			var isQuantity = false; //$('#quantity-toggle').prop('checked');
			if(isQuantity) {
				// edit HTML below
				html = `
				<div class="form-check">
					<label name="week${week_num}-task-label" class="form-check-label">
						<input class="form-text-input pull-left placeholder="quantity" type="textbox" id="week${week_num}-task${task_num}" name="week${week_num}-task" onclick="selectTask(this, ${week_num})">
						${name}
					</label>
					<div class="edit-delete">
						<i class="material-icons" style="font-size: 20px;">create</i>
						<i class="material-icons text-danger" style="font-size: 20px;">clear</i>
					</div>
				</div>
				`;

				taskHTMLs.push({name: week})

			}
			return html;
		}


		function getTaskNum(week_num) {
			var task_num = 0;
			$(`#collapse${week_num}`).contents().find(`input[name=week${week_num}-task]`).each( function() { task_num++; });

			return task_num;
		}
	</script>
	<script>
	function selectTask(checked_task, week, task_num) {
		var text = $(checked_task).val();
		var task_id = $(checked_task).attr('id');

		if (checked_task.checked == true) {
			$(`#row${week}`).append(`<li id="completed-${task_id}" name="week${week}-completed-task">${text}</li>`);
			const dataObject = {
				'week': week,
				'task_id': task_num,
				'text': text
			}
			dataArray.push(dataObject)
		} else {
			$(`#completed-${task_id}`).remove();
		}
	}
	</script>

	<script>
	$( "#datepicker" ).datepicker({
		onSelect: function(date) {
			date = new Date(date);
			var month = getMonthName(date.getMonth());
			var day = date.getDate();
			var year = date.getFullYear();

			var text = `${month} ${day}, ${year}`;
			$('#selectReason').contents().find('h5[class=title]').html(text);
			$('#save-attendance-btn').val(`${date.getMonth()+1}/${date.getDate()}/${date.getFullYear()}`);
			$('#selectReason').modal('show');
		},
		beforeShowDay: function(date) {
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();
			date = `${month}/${day}/${year}`;
			if(jQuery.inArray(date, absent_dates) != -1) {
				return [true, 'absent', ''];
			} else if (jQuery.inArray(date, halfday_dates) != -1) {
				return [true, 'halfday', ''];
			} else if(jQuery.inArray(date, holiday_dates) != -1) {
				return [true, 'holiday', ''];
			} else if(jQuery.inArray(date, suspended_dates) != -1) {
				return [true, 'suspended', ''];
			} else {
				return [true];
			}
		},
		inline: true
	});

	// Hover states on the static widgets
	$( "#dialog-link, #icons li" ).hover(
		function() {
			$( this ).addClass( "ui-state-hover" );
		},
		function() {
			$( this ).removeClass( "ui-state-hover" );
		}
	);
	</script>
	<script>
		function updateDates() {
			var reason = $('input[name=attendance]:checked').val();
			var date = $('#save-attendance-btn').val();

			if(reason == 'absent') {
				removeAttendance(date);
				absent_dates.push(date);
			} else if (reason == 'halfday') {
				removeAttendance(date);
				halfday_dates.push(date);
			} else if (reason == 'holiday') {
				removeAttendance(date);
				holiday_dates.push(date);
			} else if (reason == 'suspended') {
				removeAttendance(date);
				suspended_dates.push(date);
			} else if (reason == 'none'){
				removeAttendance(date)
			} else {}

			$('#datepicker').datepicker('refresh');
		}

		function removeAttendance(date) {
			var index = absent_dates.indexOf(date);
			if( index > -1 ) { absent_dates.splice(index, 1) }
			index = halfday_dates.indexOf(date);
			if( index > -1 ) { halfday_dates.splice(index, 1) }
			index = holiday_dates.indexOf(date);
			if( index > -1 ) { holiday_dates.splice(index, 1) }
			index = suspended_dates.indexOf(date);
			if( index > -1) { suspended_dates.splice(index, 1 )}
		}
	</script>
	<script>
		function renderAttendance() {
			console.log('doing');
			removeAttendanceRender();
			for(a in absent_dates) {
				var date = absent_dates[a];
				var week = getWeekNum(date);
				$(`#row${week}`).append(`<li name="attendance">Absence</li>`);
			}

			for(h in halfday_dates) {
				var date = halfday_dates[h];
				var week = getWeekNum(date);
				$(`#row${week}`).append(`<li name="attendance">Halfday</li>`);
			}

			for(h in holiday_dates) {
				var date = holiday_dates[h];
				var week = getWeekNum(date);
				$(`#row${week}`).append(`<li name="attendance">Holiday</li>`);
			}

			for(s in suspended_dates) {
				var date = suspended_dates[s];
				var week = getWeekNum(date);
				$(`#row${week}`).append(`<li name="attendance">Suspended</li>`);
			}
		}
		function removeAttendanceRender() {
			$('li[name=attendance]').each(function() {
				$(this).remove();
			})
		}
		function getWeekNum(date) {
			var targetDate = new Date(date);
			var weekNum;

			var weeks = getWeeksInMonth(attendancePeriod)['weeksStartEnd'];

			for(w in weeks) {
				var curWeek = weeks[w];

				var start = new Date(curWeek['start']);
				var end = new Date(curWeek['end']);

				if(start <= targetDate && targetDate <= end) {
					weekNum = w;
				}
			}

			return weekNum;
		}
	</script>
	<script>
		function reportSubmit() {
			// dataArray and weekArray
			const data = {}
			data.tasks = tasksArray
			data.data = dataArray
			data.weeks = weekArray
			data.period = period[0].selectedIndex


			$.ajax({
				type: 'POST',
				url: "{{ url_for('create.submit')}}",
				data: JSON.stringify(data),
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				success: function(response) {
					alert('Successfully submitted response.')
					window.location = response['redirect']
				}
			}).done(function(msg) {
				console.log(msg)
			})
		}
	</script>
</body>

</html>
