<HTML>
</HEAD>
<BODY LANG="en-PH" DIR="LTR">
<P STYLE="margin-bottom: 0in" ALIGN=CENTER><I><B>    Republic of the Philippines</B></I></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><I><B>Quezon City</B></I></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; border-top: none; border-bottom: 1.50pt solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
<FONT COLOR="#2f5496"><FONT SIZE=3><B>ENVIRONMENT PROTECTION AND
WASTE MANAGEMENT DEPARTMENT</B></FONT></FONT></P>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT SIZE=3><B>ACCOMPLISHMENT
REPORT</B></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=2>Attendance
Period: {{data.report.period.periodName}}</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT SIZE=2>Payroll
Period: {{data.report.payroll.name}}</FONT></P>
<TABLE WIDTH=719 CELLPADDING=7 CELLSPACING=0>
  <COL WIDTH=174>
  <COL WIDTH=516>
  <TR VALIGN=TOP>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>DATE</B></P>
    </TD>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>TASK ACCOMPLISHED</B></P>
    </TD>
  </TR>
  {% for week in data.report.weeks %}
  <tr ROWSPAN={{week.taskCount}}>
    <td  WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0.1in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>{{week.weekName}}</P>
    </td>
    <td STYLE="border: 1px solid #00000a; padding-top: 0.1in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in" VALIGN="bottom">
    <ol>
      {% for task in week.tasks %}
       <li>{{task.description}}</li>
      {% endfor %}
    </ol>
    </td>
  </tr>
  {% endfor %}
</TABLE>

<div bottom="10px">
  <br>
<P STYLE="margin-bottom: 0.11in"><B>Submitted by:</B></P>
<P STYLE="margin-bottom: 0.3in">
</P>
<P STYLE="margin-bottom: 0in"><U><B>{{data.report.lastName}}, {{data.report.firstName}} {{data.report.middleInitial}}</B></U></P>
<P STYLE="margin-bottom: 0.11in">Signature over Printed name</P>
<P STYLE="margin-bottom: 0.11in">
</P> <BR>
<P STYLE="margin-bottom: 0.11in">
</P>
<P STYLE="margin-bottom: 0in"><U><B>{{data.chief.lastName}}, {{data.chief.firstName}} {{data.chief.middleInitial}}.</B></U></P>
<P STYLE="margin-bottom: 0.11in">Acting Admin Officer</P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.11in"><B>Noted:</B></P>
</div>
</BODY>
</HTML>