<HTML>
</HEAD>
<BODY LANG="en-PH" DIR="LTR">
<P STYLE="margin-bottom: 0in" ALIGN=CENTER><I><B>    Republic of the Philippines</B></I></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><I><B>Quezon City</B></I></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; border-top: none; border-bottom: 1.50pt solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in">
<FONT COLOR="#2f5496"><FONT SIZE=3><B>ENVIRONMENT PROTECTION AND
WASTE MANAGEMENT DEPARTMENT</B></FONT></FONT></P>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT SIZE=3><B>ACCOMPLISHMENT
REPORT</B></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=2>Attendance
Period: July 26, 2017 to August 25, 2017</FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT SIZE=2>Payroll
Period: September 1 to 31, 2017</FONT></P>
<TABLE WIDTH=719 CELLPADDING=7 CELLSPACING=0>
  <COL WIDTH=174>
  <COL WIDTH=516>
  <TR VALIGN=TOP>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>DATE</B></P>
    </TD>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>TASK ACCOMPLISHED</B></P>
    </TD>
  </TR>
  <TR>
    <TD ROWSPAN=4 WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>July 26 – 28, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Updated Daily Time Records (DTR’s)</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Sorted personnel’s forms</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Performed other functions</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P><B>Halfday: July 27, 2017</B></P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>July 29 &amp; 30, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>Saturday &amp; Sunday</B></P>
    </TD>
  </TR>
  <TR>
    <TD ROWSPAN=3 WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>July 31 – August 4, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Forwarded two (2) documents / communication</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Sorted personnel’s forms</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Performed other functions that were assigned time to time</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 5 &amp; 6</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>Saturday &amp; Sunday</B></P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 7 – 11, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Forwarded two (2) documents / communication</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Sorted personnel’s forms</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><BR>
      </P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Performed other functions that were assigned time to time</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 12 &amp; 13, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>Saturday &amp; Sunday</B></P>
    </TD>
  </TR>
  <TR>
    <TD ROWSPAN=5 WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 14 – 18, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Forwarded two (2) documents / communication</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Updated Daily Time Records (DTR’s)</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Sorted personnel’s forms</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Performed other functions that were assigned time to time</P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P><B>Absent: August 16 &amp; 18, 2017</B></P>
    </TD>
  </TR>
  <TR>
    <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 19 &amp; 20, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER><B>Saturday &amp; Sunday</B></P>
    </TD>
  </TR>
  <TR>
    <TD ROWSPAN=5 WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P ALIGN=CENTER>August 21 – 25, 2017</P>
    </TD>
    <TD WIDTH=516 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Forwarded two (3) documents / communication</P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Sorted personnel’s forms</P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Performed other functions that were assigned time to time</P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P>Updated Daily Time Records (DTR’s)</P>
    </TD>
  </TR>
  <TR VALIGN=TOP>
    <TD WIDTH=516 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
      <P><B>Holiday: August 21, 2017</B></P>
    </TD>
  </TR>
</TABLE>
<P ALIGN=CENTER STYLE="margin-bottom: 0in">
</P>
<P STYLE="margin-bottom: 0.11in"><B>Submitted by:</B></P>
<P STYLE="margin-bottom: 0.11in">
</P>
<P STYLE="margin-bottom: 0in"><U>           <B>[Name of
Employee]______</B></U></P>
<P STYLE="margin-bottom: 0.11in">Signature over Printed name</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0in"><U><B>______[Name of Verifier]_______</B></U></P>
<P STYLE="margin-bottom: 0.11in">Acting Admin Officer</P>
<P STYLE="margin-top: 0.17in; margin-bottom: 0.11in"><B>Noted:</B></P>
</BODY>
</HTML>